.themes {
    height: 100%;
    margin: 10px;
    position: sticky;
    top: 20px;

    &__list {
        font-weight: bold;
        color: #387493;
        margin-top: 10px;
        padding: 0 20px 20px;

        li {
            list-style: none;
        }
    }

    &__link {
        font-weight: normal;
        padding-bottom: 10px;

        &:hover {
            transition: .2s;
        }

        a {
            padding: 0 10px;
        }
    }
}

.list {
    &__item {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        align-items: center;
        margin: 10px;

    }


}

.item {
    &__name {
        align-items: center;
        font-size: 20px;
        padding: 0;

        &:hover {
            color: #aebed7;
            transition: .3s;
        }

        &--active {
            color: #aebed7;
        }
    }

    &__icon {
        margin-left: 50px;
        background-color: #9ca3af;

        &:before, &:after {
            content: '';
            position: absolute;
            height: 2px;
            width: 13px;
            background-color: #0dcaf0;
        }

        &:after {
            transform: rotate(270deg) translate(0%, -10%);
            transition: .2s;
        }

        &--active {
            &:before {
                background-color: red;
                transform: rotate(135deg);
                transition: .3s;
            }

            &:after {
                background-color: red;
                transform: rotate(-135deg);
                transition: .3s;
            }
        }
    }
}

.link {
    &__name {
        font-size: 18px;
        color: #8894af;
        margin-left: 20px;
        border-bottom: 1px dashed #6f7b8f;

        &:before {
            content: '';
        }

        &:hover {
            color: #5f86be;
            transition: .2s;
        }
    }
}

.labs {
    &__title {
        color: #a0aec0;
        margin: 10px 0;
    }

    &__item {
        font-weight: bold;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 5px;
        padding: 5px;
        border-radius: 10px;
        background-color: rgba(107, 114, 140, 0.51);
        color: #95b0c9;
        cursor: pointer;

        &:hover {
            opacity: .8;

        }
    }
}

.block {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    padding: 0 25px;

    &__panel {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        box-shadow: 0px 11px 25px -28px rgba(109, 112, 176, 1);
    }

    &__description {
        overflow: auto;
        color: #819fb0;


        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background-color: transparent;

        }

        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #545f6b;
            border-radius: 15px;
        }
    }
}

::v-deep .description {
    &__title {
        font-size: 28px;
        text-align: center;
        letter-spacing: 1px;
        font-weight: bold;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    &__image {
        max-width: 70%;
        margin: 15px auto;
    }

    &__paragraph {
        text-align: justify;
        font-size: 17px;
        text-indent: 25px;
        margin-bottom: 10px;
    }

    &__code {
        width: 90%;
        margin: 10px auto;
        color: #657bbe;
        background-color: rgba(156, 163, 175, 0.17);
        font-weight: bold;
        font-size: 16px;
        padding-left: 10%;
        border-left: 2px solid #9ca3af;
        border-radius: 15px;

    }
}

.navigation {

    &__link {
        color: #7586c2;

        &:first-child:before {
            content: '';
            background-image: url('../../img/home-icon.png');
            background-size: 100% 100%;
            margin-right: 5px;
            display: inline-block;
            height: 20px;
            width: 20px;
            opacity: .4;
            transform: translate(0%, 20%);
        }

        &:not(:last-child):after {
            content: '>';
            color: #9ca3af;
            margin: 0 5px;
        }
    }
}


.search {
    display: flex;
    column-gap: 5px;

    &__input {
        background-color: transparent;
        border-bottom: 1px solid #9ca3af;
        border-radius: 0;
        font-size: 15px;
        color: #81a6f6;

        &:focus {
            outline: none;
            border-color: #0a53be;
        }
    }

    &__btn {
        color: #4c65c0;
        font-weight: bold;
        font-size: 16px;

        &:hover {
            background-color: #3967a8;
            color: #bdc8e1;
            transition: all .5s;
        }
    }
}


///accordion animation
.accordion-fade-enter-active {
    transition: all 4s cubic-bezier(1.0, 0.5, 0.8, 1.0);

}

.accordion-fade-leave-active {
    transition: all .4s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.accordion-fade-enter, .accordion-fade-leave-to
    /* .slide-fade-leave-active до версии 2.1.8 */
{
    transform: translateX(10px);
    opacity: 0;
}
