.themes {
    height: 100%;
    margin: 0 10px;
    position: sticky;
    top: 20px;
    padding: 0 20px 20px;

    &__list {
        font-weight: bold;
        color: #387493;
        margin-top: 10px;

        li {
            list-style: none;
        }
    }

    &__link {
        font-weight: normal;
        padding-bottom: 10px;
        letter-spacing: .4px;

        &:hover {
            transition: .2s;
        }

        a {
            padding: 0 10px;
        }
    }
}

.themes-menu {
    display: none;
    position: sticky;
    top: 11%;
    height: 500px;
    border-radius: 5px;
    background-color: #7f8fa8;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 8px;
    align-items: center;

    &__btn {
        &:after {
            content: '>>>';
            font-weight: bold;
        }
    }

    &__word {
        writing-mode: vertical-lr;
        text-orientation: upright;
        font-weight: bold;
        font-size: 20px;
    }

    &:hover {
        cursor: pointer;
    }
}

.list {
    &__item {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        align-items: center;
        margin: 10px;
    }
}

.item {
    &__name {
        align-items: center;
        font-size: 20px;
        padding: 0;

        &:hover {
            color: #aebed7;
            transition: .3s;
        }

        &--active {
            color: #aebed7;
        }
    }

    &__icon {
        padding: 10px 10px 10px 50px;

        &:before, &:after {
            content: '';
            position: absolute;
            height: 2px;
            width: 13px;
            background-color: #0dcaf0;
        }

        &:after {
            transform: rotate(270deg) translate(0%, -10%);
            transition: .2s;
        }

        &--active {
            &:before {
                background-color: red;
                transform: rotate(135deg);
                transition: .3s;
            }

            &:after {
                background-color: red;
                transform: rotate(-135deg);
                transition: .3s;
            }
        }
    }
}

.link {
    &__name {
        font-size: 18px;
        color: #8894af;
        margin-left: 20px;

        &:before {
            content: '';
            display: inline-block;
            border: solid 1px #9ca3af;
            border-radius: 10px;
            width: 10px;
            height: 10px;
            margin-right: 5px;
            transform: translateY(-10%);
        }

        &:hover {
            color: #5f86be;
            transition: .2s;
        }

        &--active {
            font-weight: bold;
            color: #5890cb;
            display: inline-block;
            transform: translateX(-5px);

            &:before {
                content: '';
                display: inline-block;
                border-radius: 10px;
                width: 10px;
                height: 10px;
                background-color: #2079a9;
                border-color: #5cb5f5;
            }
        }

        &--disabled {
            pointer-events: none;
        }
    }
}

.block {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    padding: 0 25px;

    &__panel {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        box-shadow: 0px 11px 25px -28px rgba(109, 112, 176, 1);
    }

    &__description {
        overflow: auto;
        color: #7c8f9b;
        font-family: 'Rubik', sans-serif;

    }
}

::v-deep .description {

    &__title {
        font-size: 30px;
        text-align: center;
        letter-spacing: 1px;
        font-weight: bold;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    &__image {
        max-width: 60%;
        margin: 15px auto 5px auto;
        border-radius: 5px;
    }

    &__paragraph {
        text-align: justify;
        font-size: 17px;
        text-indent: 25px;
        margin-bottom: 10px;
    }

    &__list-item {
        text-indent: 40px;
        margin: 2px 15px;
        font-size: 16px;

        &:before {
            content: '';
            display: inline-block;
            width: 8px;
            height: 8px;
            background-color: #528b9d;
            border-radius: 50%;
            margin-right: 7px;
            transform: translateY(-20%);
        }
    }

    &__note {
        background-color: rgba(156, 163, 175, 0.44);
        padding: 20px;
        display: flex;
        border-radius: 45px;
        border-top-right-radius: 5px;
        margin: 50px 20px;

        &:before {
            content: '!';
            font-size: 30px;
            border: solid 1px #a1bcee;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            align-self: center;
            text-align: center;
            margin-right: 20px;
            color: #a5cad2;
        }
    }

    &__note-text {
        font-size: 18px;
        align-self: center;
        max-width: 80%;
        color: #81a8af;
    }

    &__code {
        width: 90%;
        margin: 10px auto;
        color: #657bbe;
        background-color: rgba(156, 163, 175, 0.17);
        font-weight: bold;
        font-size: 17px;
        padding: 25px 10%;
        border-left: 2px solid #9ca3af;
        border-radius: 15px;
    }


    &__subparagraph {
        font-size: 20px;
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 10px;
        letter-spacing: 1px;
    }

    &__image-name {
        text-align: center;
        font-style: italic;
        font-size: 15px;
        margin-bottom: 10px;
    }
}

.navigation {
    &__link {
        color: #7586c2;

        &:first-child:before {
            content: '';
            background-image: url('../../img/home-icon.png');
            background-size: 100% 100%;
            margin-right: 5px;
            display: inline-block;
            height: 20px;
            width: 20px;
            opacity: .4;
            transform: translate(0%, 20%);
        }

        &:not(:last-child):after {
            content: '>';
            color: #9ca3af;
            margin: 0 5px;
        }
    }
}


.search {
    display: flex;
    column-gap: 3px;
    margin-bottom: 20px;

    &__input {
        background-color: #47576b;
        border-radius: 5px 0 0 5px;
        font-size: 15px;
        color: #81a6f6;
        padding: 8px 10px;
        flex: auto;

        &:focus {
            outline: none;
            border-color: #0a53be;
        }
    }

    &__btn {
        background-color: #376bb6;
        color: #98a0be;
        font-weight: bold;
        font-size: 16px;
        padding: 5px 10px;
        border-radius: 0 5px 5px 0;
        letter-spacing: 1px;


        &:hover {
            background-color: #5e7da9;
            color: #bdc8e1;
            transition: all .3s;
        }
    }
}


.bottom {
    display: flex;

    &__btn-download {
        padding: 5px 15px;
        color: #0aa7ca;
        font-size: 16px;
        font-weight: bold;
        border-radius: 10px;
        border: 1px solid #63a49c;
        display: flex;
        align-items: center;
        margin-left: 10px;

        &:before {
            content: '';
            background-image: url('../../img/download-icon.png');
            background-size: 100% 100%;
            display: inline-block;
            height: 25px;
            width: 25px;
            margin-right: 5px;
        }


        &:hover {
            background-color: #3c4c62;
            opacity: .8;
            transition: all 1s;

            &:before {
                animation: download-move 0.5s ease-in-out;
            }
        }


        @keyframes download-move {
            0% {
                transform: translateY(4px);
            }
            50% {
                transform: translateY(-10px) scale(1.2);
            }
            100% {
                transform: translateY(4px);
            }
        }
    }

    &__btn-next {
        margin: 10px;
        padding: 5px 10px;
        color: #3c6baf;
        font-size: 18px;

        span {
            font-weight: bold;
        }


        &:hover {
            border-bottom: solid 1px #4e6f9f;
            transition: all 1s;

            &:after {
                content: '->';
                margin-left: 10px;
                color: #749cd0;
                animation: arrow-appear 0.5s ease-in-out;
            }
        }

        @keyframes arrow-appear {
            0% {
                opacity: 0;
                transform: translateY(10px);
            }
            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
}


///media

@media (max-width: 1350px) {
    .item {
        &__name {
            font-size: 18px;
        }
    }

    .link {
        &__name {
            font-size: 17px;
        }
    }
}

@media (max-width: 1100px) {
    .description {
        &__title {
            font-size: 25px;
        }

        &__paragraph {
            font-size: 12px;
        }
    }

    .themes {
        &--hide {
            position: absolute;
            left: -500px;
            transform: rotate(180deg) scale(.2);
            transition: all .8s ease 0s;
        }

        &--active {
            position: fixed;
            top: 11%;
            left: calc(30px + 30px);
            bottom: 5%;
            height: 500px;
            overflow: scroll;
            padding-top: 10px;
            z-index: 1;
            border-radius: 10px;
            background-color: rgb(60, 69, 84);
            transition: all .3s ease 0s;
        }
    }

    .themes-menu {
        &__btn--active::after {
            content: '<<<';
        }

        &--active {
            display: flex;
        }
    }
}


@media (max-width: 780px) {

    .themes-menu {
        padding: 8px 5px;

        &__word {
            font-size: 18px;
        }
    }

    ::v-deep .description {
        &__title {
            font-size: 25px;
        }

        &__paragraph, &__list-item, &__note-text {
            font-size: 15px;
        }

        &__image {
            max-width: 90%;
        }

        &__image-name {
            font-size: 13px;
        }

        &__code {
            font-size: 15px;
        }

        &__subparagraph {
            font-size: 18px;
        }

        &__note {
            &:before {
                font-size: 25px;
                width: 40px;
                height: 40px;
            }
        }
    }

    .navigation {
        &__link {
            font-size: 13px;
        }
    }
    .bottom {
        &__btn-next {
            font-size: 16px;
        }
    }
}

@media (max-width: 650px) {
    .item {
        &__name {
            font-size: 16px;
        }
    }

    .link {
        &__name {
            font-size: 14px;
        }
    }

    .search {
        &__input {
            font-size: 14px;
        }

        &__btn {
            font-size: 14px;
        }
    }
    .bottom {
        &__btn-download {
            font-size: 14px;
            padding: 4px 10px;
        }
    }
}

@media (max-width: 450px) {
    .themes {
        margin: 0;
        width: 100%;

        &--active {
            top: 11%;
            left: 30px;
            width: calc(100% - 35px);
            height: 500px;
            overflow: scroll;
            padding-top: 10px;
            z-index: 1;
            border-radius: 10px;
            background-color: rgb(60, 69, 84);

        }
    }

    .block {
        padding: 0 10px;
    }
    ::v-deep .description {
        &__code {
            padding: 20px 10%;
        }

        &__note {
            padding: 10px 20px;

            &:before {
                font-size: 25px;
                min-width: 30px;
                min-height: 30px;
            }
        }

        &__list-item {
            font-size: 14px;

            &:before {
                width: 6px;
                height: 6px;
            }
        }

        &__note-text {
            font-size: 14px;
        }
    }

    .themes-menu {
        padding: 0;

        &__btn {
            &:after {
                content: '>>';
            }

            &--active {
                &:after {
                    content: '<<';
                }
            }
        }

        .navigation__link {
            &:first-child:before {
                height: 15px;
                width: 15px;
                transform: translateY(1px);
            }
        }
    }

}
