.themes {
    &__list {
        &--preloader {
            display: flex;
            flex-direction: column;
            row-gap: 15px;
            padding: 0 25px;


            li {
                background-color: rgba(122, 127, 133, 0.31);
                width: 300px;
                height: 35px;
                border-radius: 10px;
                animation: scale 1.5s infinite;


                &:before {
                    content: '';
                    background-color: rgba(116, 119, 128, 0.25);
                    display: inline-block;
                    width: 40px;
                    height: 100%;
                    border-radius: 5px;
                    position: relative;
                    animation: move 1.5s infinite;
                }

                @keyframes move {
                    from {
                        left: 0;
                        opacity: .8;
                    }
                    to {
                        left: 80%;
                        opacity: .1;
                    }
                }
                @keyframes scale {
                    from {
                        transform: scale(1);
                    }
                    to {
                        transform: scale(1.05);
                    }
                }

            }
        }
    }
}

.block {
    &__start {
        color: #8f9dbe;
        padding: 20px;
        font-size: 20px;
        font-style: italic;
        height: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    &__book-icon, &__last-arrow {
        opacity: .5;
    }

    &__first-arrow {
        display: none;
        column-gap: 5px;
        animation: fade-in 3s ease forwards infinite;

        span {
            width: 10px;
            height: 2px;
            background-color: #93aeb4;
            border-radius: 5px;
            opacity: 1;
        }

        &:before, &:after {
            content: '';
            position: absolute;
            left: -20px;
            border-radius: 15px;
            width: 15px;
            height: 4px;
            background-color: #72acb9;
        }

        &:before {
            transform: rotate(45deg) translate(50%, -2px);
        }

        &:after {
            transform: rotate(135deg) translate(-50%, -2px);
        }

        @keyframes fade-in {
            to {
                opacity: 0;
                transform: translateX(-20px);
            }
        }
    }


    &__last-arrow {
        position: absolute;
        top: 30px;
        transform: scale(.9);
    }

}

.empty-page {
    margin: 20px auto;
    text-align: center;
    color: #c4d3dc;

    &__image {
        margin: 0 auto;
        opacity: .7;
    }

    &__title {
        font-size: 30px;
        font-weight: bold;
    }

    &__subtitle {
        font-size: 14px;
    }
}

@media (max-width: 1485px) {
    .block {
        &__last-arrow {
            top: 40px;
        }
    }
}


@media (max-width: 1390px) {
    .block {
        &__last-arrow {
            top: 50px;
            transform: translateX(30px);
        }
    }
}

@media (max-width: 1290px) {
    .block {
        &__book-icon {
            transform: scale(.85);
        }

        &__last-arrow {
            top: 60px;
            transform: translateX(40px);
        }

    }
}


@media (max-width: 1220px) {
    .block {
        &__start {
            display: flex;
        }

        &__text {
            font-size: 16px;
        }

        &__last-arrow {
            display: none;
        }

        &__first-arrow {
            display: flex;
        }
    }
}

@media (max-width: 950px) {
    .block {
        &__first-arrow {
            transform: scale(.8);
        }

        &__book-icon {
            transform: scale(.7);
        }

        &__text {
            font-size: 14px;
        }

    }
}
