.main-block {
    display: flex;
    align-items: flex-start;
    column-gap: 2%;
    height: 100%;
}

.right, .left {
    width: 50%;
    //background-color: #0a58ca;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    border: dashed 2px #949fb0;
    border-radius: 5px;
}

.left {
    overflow: auto;
    max-height: 100%;

    scrollbar-width: thin;
    scrollbar-color: #8597ab #5b656e;

}


.add-new {
    &__title {
        font-size: 22px;
        font-weight: bold;
        text-align: center;
        padding: 10px;
    }

    &__block {
        display: flex;
        flex-wrap: wrap;
        column-gap: 10px;
        row-gap: 5px;
        padding: 15px;
    }

    &__success {
        padding: 5px 15px;
        color: #b0ec52;
        font-size: 16px;
        font-weight: bold;
    }

}

.break-line {
    line-height: 2px;
    border-top: dashed 2px #e5e8ee;

}

.block {
    &__input-name {
        padding: 5px;
        border-radius: 5px;
        font-size: 17px;
        color: #2746b2;
        font-weight: bold;
        flex: auto;

    }

    &__select {
        padding: 10px 15px;
        border-radius: 5px;
        font-size: 16px;
        color: #c2c9e3;
        background-color: rgba(60, 79, 107, 0.85);
    }

    &__label {
        font-size: 17px;
        padding: 5px 10px;
        text-align: center;
    }

    &__btn-add, &__btn-remove {
        padding: 5px 10px;
        border-radius: 5px;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 1px;
        opacity: .8;

        &:hover {
            opacity: 1;
            transition: opacity .2s;
        }
    }

    &__btn-add {
        background-color: #3080a2;
        color: #96e5f8;
    }

    &__btn-remove {
        background-color: #f56356;
        color: #5e290a;
    }


    &__btn-add-new {
        padding: 5px 10px;
        background-color: #4756bd;
        border-radius: 5px;
        font-size: 18px;
        font-weight: bold;
        color: #b1afbb;
        letter-spacing: 1px;
        cursor: pointer;
        flex: auto;

        &:before {
            content: '➕';
        }

        &:hover {
            opacity: 1;
            transition: opacity .2s;
        }
    }

}

.right {
    //background-color: #0a58ca;
    overflow: auto;

    &__title {
        font-size: 20px;
        font-weight: bold;
        text-align: center;

    }
}

////

::v-deep .description {
    padding: 10px;

    &__title {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }

    &__paragraph {
        text-align: justify;
        font-size: 17px;
        text-indent: 25px;
        margin-bottom: 10px;
        word-break: break-all;
    }


    &__image {
        max-width: 70%;
        margin: 15px auto;
    }

    &__code {
        width: 90%;
        margin: 10px auto;
        color: #6c7bad;
        background-color: rgba(156, 163, 175, 0.17);
        font-weight: bold;
        font-size: 16px;
        padding: 5% 10%;
        border-left: 2px solid #9ca3af;
        border-radius: 15px;

    }

    &__btn-save {
        background-color: lawngreen;
        padding: 5px 10px;
        margin: 10px;
        font-size: 19px;
        letter-spacing: 2px;
        color: #0c213b;
        border-radius: 15px;

        &:hover {
            background-color: #66cb05;
            transition: .2s;
        }
    }

    &__subparagraph {
        font-size: 20px;
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 10px;
        letter-spacing: 1px;
    }

}


.paragraph {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__label {
        font-weight: bold;
        font-size: 18px;
        color: #d6e136;
    }

    &__input {
        width: 100%;
        min-height: 100px;
        padding: 5px 10px;
        border-radius: 5px;
        font-size: 16px;
        color: #0c213b;
        word-break: break-all;
    }

    &__input-small {
        width: 100%;
        height: 40px;
        padding: 5px 10px;
        border-radius: 5px;
        font-size: 16px;
        color: #0c213b;
    }

    &__error {
        color: #912519;
        font-size: 16px;
        font-weight: bold;

        &:before {
            content: '! ';
        }
    }

    &__btn-add {
        background-color: #eceb4f;
        color: #4776c9;
        font-weight: bold;
        padding: 5px 20px;
        margin: 10px auto 0 auto;
        font-size: 16px;
        border-radius: 10px;

        &:hover {
            opacity: .8;
            transition: opacity .2s;
        }
    }
}







